<div class="container-flex containerPagina">
  <div class="row w-100 mb-4">
      <div class="col-auto me-auto">
          <h1 class="tituloPagina">Ópticas</h1>
      </div>
      <div class="col-auto ms-auto d-flex">
          <button class="botonNuevaCita" onclick="location.href='optica-config'">Nueva Óptica</button>
      </div>
  </div>
  <form action="">
      <div class="row">
          <div class="col-auto col-2">


                  <script>
                      function cambiarVista() {
                          const select = document.getElementById('cambiar');
                          const url = select.value;

                          if (url) {
                              window.location.href = url; // Redirige a la URL seleccionada
                          }
                      }
                  </script>
          </div>
      </div>
  </form>

 


      <div class="row">
        
        @for (opticas of articulos; track $index) {
          <div class="col-md-4" >
              <div class="card my-3 carta">
                  <div class="card-body ">
                    <ul class="lista">
                            <li>Nombre:{{opticas.nombre}}</li>
                            <li>Direccion:{{opticas.direccion}}</li>
                          </ul>
                        </div>
                        <div class="card-footer cartaFooter">
                          <h5 style="text-align: center">{{opticas.nombre}}</h5>
                        </div>
                      </div>
                    </div>
                      }
      </div>





</div>








