<script></script>
<div class="container-flex containerPagina">
    <div class="row w-100 mb-4">
        <div class="col-auto me-auto">
            <h1 class="tituloPagina">Citas</h1>
        </div>
        <div class="col-auto ms-auto d-flex "><button class="botonNuevaCita" data-bs-toggle="modal" data-bs-target="#buscarCliModal2">Nueva Cita</button></div>
    </div>
    <div class="my-3">
        <table datatable [dtOptions]="dtOptions" id="citas" class="table table-stripped citasTable">
            <thead>
                <tr class="text-center">
                    <th class="citasHora text-center"></th>
                    <th class="citasDatos text-center"></th>
                    <th class="citasDatos text-center"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>

            <!--  <tbody>
                <tr>
                    <td>08:00</td>
                    <td>Juan Pérez</td>
                    <td>Cambio de graduación</td>
                </tr>
                <tr>
                    <td>09:00</td>
                    <td>María García</td>
                    <td>Revisión</td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td>Carlos López</td>
                    <td>Revisión</td>
                </tr>-->
        </table>
    </div>

    <div class="modal  fade" id="buscarCliModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <div class="w-100 row mx-1 border-bottom pt-2 pb-3">
                        <div class="col-auto d-flex align-items-center">
                            <h5 class="modal-title tituloModal" id="exampleModalLabel">Seleccione el cliente para asignar la cita</h5>
                        </div>
                        <div class="col-auto ms-auto d-flex align-items-center"><button type="button" class="ms-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    </div>
                </div>
                <div class="modal-body mt-2 mb-3">
                    <form class="form-cli row">
                        <div class="col px-2">
                            <div class="row my-2">
                                <div class="col">
                                    <div class="input-group px-3">
                                        <input class="form-control" type="text" placeholder="Búsqueda por Nombre, Apellidos o DNI" [(ngModel)]="dni" name="dni">
                                        <button class="btn btn-primary botonInputModal" (click)="enviarDNI()"><i class="fa-solid fa-angle-right fa-2x" ></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>


            </div>
        </div>
    </div>

</div>