<div class="row w-300">
<div class="col-6">
    <form id="formOptica" class="row">
        <div class="col px-2">
            <div class="row my-2">
                <div class="col mr-5">
                    <label class="col-form label" for="nombreO">Nombre</label>
                    <input class="form-control" type="text" name="nombreO" id="nombreO">
                </div>

                <div class="col">
                    <label class="col-form label" for="correoO">Correo Electrónico</label>
                    <input class="form-control" type="email" name="correoO" id="correoO">
                </div>
            </div>

            <div class="row my-2 mt-5">
                <div class="col">
                    <label class="col-form label" for="direccionO">Dirección</label>
                    <input class="form-control" type="text" name="direccionO" id="direccionO">
                </div>

                <div class="col">
                    <label class="col-form label" for="telefonoO">Teléfono</label>
                    <input class="form-control" type="tel" name="telefonoO" id="telefonoO">
                </div>
            </div>

            <div class="row my-2 mt-5">
                <div class="col-6">
                    <label class="col-form label" for="numMaquina">Número de Maquinas</label>
                    <input class="form-control" type="number" name="numMaquina" id="numMaquina">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col d-flex justify-content-end">
    <div class="card  mb-1 cartaOptica">
        <div class="card-header"><h5>Información de la Óptica</h5></div>
        <div class="card-body">
            <p class="card-text">En esta sección puedes ingresar la información básica de tu óptica. Completa los datos esenciales, como el nombre de la óptica, dirección y contacto  para su identificación. Mantén tu información actualizada.</p>
        </div>
    </div>
</div>
</div>



<div class="row w-100 mt-5">
<div class="col">
    <div class="row justify-content-end">
    <div class="col-auto">
        <button class="botonNuevaCita" onclick="location.href='/optica-config/calendario'">Siguiente</button>
    </div>
    </div>
</div>
</div>
