<script></script>
<div class="container-flex containerPagina">
    <div class="fatherContainer">
        <div class="row w-100 mb-4">
            <div class="col-auto me-auto">
                <h1 class="tituloPagina">Todas las Ventas</h1>
            </div>
        </div>
        <div class="my-3">
          <div class="justify-content-end">
          <button (click)="filtro()" class="botonOutline"><i class="fa-solid fa-filter"></i>Filtro</button>
        </div>
            <table datatable [dtOptions]="dtOptions" id="ventasTable"class="empleadosTable table table-stripped">
                <thead>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<script></script>
