<script></script>
<div class="container-flex containerPagina">
    <div class="fatherContainer">
        <div class="row w-100 mb-4">
            <div class="col-auto me-auto">
                <h1 class="tituloPagina">Todas las Ventas</h1>
            </div>
        </div>
        <div class="my-3">
            <table datatable [dtOptions]="dtOptions" id="ventas" class="empleadosTable table table-stripped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Importe</th>
                        <th>Metodo de Pago</th>
                        <th>Cliente</th>

                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<script></script>
