<script></script>
<div class="container-flex containerPagina">
    <div class="fatherContainer">
        <div class="row w-100 mb-4">
            <div class="col-auto me-auto">
                <h1 class="tituloPagina">Todos los artículos</h1>
            </div>
        </div>
        <div class="my-3">
            <table datatable [dtOptions]="dtOptions" id="empleados" class="empleadosTable table table-stripped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Stock</th>

                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<script></script>
