<div class="container-flex containerPagina">
  <div class="row w-100 mb-4">
      <div class="col-auto me-auto">
          <h1 class="tituloPagina">Configuración de Óptica</h1>
      </div>
      <div class="col d-flex justify-content-end">
          <a onclick="location.href='/opticas'"><i class="fa-solid fa-x fa-lg"></i></a>
      </div>
  </div>


      <div class="row  my-4">
          <div class="col">
              <ul class="lista-horizontal">
                  <li class="subtituloPagina"><strong>Información</strong></li>
                  <li><i class="fa-solid fa-angle-right breadcrumb-icono"></i></li>
                  <li class="subtituloPagina">Calendario</li>
                  <li><i class="fa-solid fa-angle-right breadcrumb-icono"></i></li>
                  <li class="subtituloPagina">Empleados</li>
              </ul>
          </div>
      </div>

      <router-outlet></router-outlet>

</div>

