<div id="factura" class="container-flex containerPagina">
  <div class="row w-100 mb-4">
      <div class="col-auto me-auto">
          <h1 class="tituloPagina">Factura de Venta  </h1>
      </div>
      <div class="col-auto">
        <a onclick="location.href='/ventas/ver-todos'" class="btn-close cerrar">
          <i class="fa-solid fa-x fa-lg"></i>
        </a>
  </div>

  <form method="post">
    <p><strong>Número de Factura:</strong> {{ datosFactura['idVenta'] }}</p>
    <p><strong>Fecha:</strong> {{ datosFactura?.fecha | date:'dd-MM-yyyy' }}</p>
    <!-- <p><strong>Metodo de Pago:</strong> {{ datosFactura['metodoPago'] }}</p>
    <p><strong>Estado del Pago:</strong> {{ datosFactura['estadoPago'] }}</p> -->
    <div class="row">
      <div class="col-md-6">
        <h2>Óptica</h2>
        <p><strong>Sitio:</strong> {{ datosFactura['optica'] }}</p>
        <p><strong>Dirección:</strong> {{ datosFactura['direccion'] }}</p>
        <p><strong>Teléfono:</strong> {{ datosFactura['telefonoOptica'] }}</p>
        <p><strong>Correo Electrónico:</strong> {{ datosFactura['correo'] }}</p>
      </div>

      <div class="col-md-6">
        <h2>Cliente</h2>
        <p><strong>Nombre:</strong> {{ datosFactura['cliente'] }} {{ datosFactura['apellido'] }}</p>
        <p><strong>DNI:</strong> {{ datosFactura['dni'] }}</p>
        <p><strong>Teléfono:</strong> {{ datosFactura['telefono'] }}</p>
        <p><strong>Código Postal:</strong> {{ datosFactura['codPostal'] }}</p>
      </div>
    </div>
    <h2>Detalles de la Venta</h2>

    <table class="tabla-articulos">
      <thead>
      <tr>
        <th>Artículo</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Importe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let linea of datosFactura['lineas']">
          <td>{{ linea['articulo'] }}</td>
          <td>{{ linea['cantidad'] }}</td>
          <td>{{ (linea['precio_unitario']) }}€</td>
          <td>{{ (linea['importe']) }}€</td>
      </tr>

      <p><strong>Subtotal:</strong> {{ (datosFactura['subtotal']) }}€</p>
      <p><strong>Total (IVA incluido):</strong> {{ (datosFactura['total']) }}€</p>
    </tbody>
    </table>


        <input type="hidden" name="fecha" value="{{datosFactura['fecha']}}" >
        <input type="hidden" name="estadoPago" value="pagado">
        <input type="hidden" name="idPedido" value="{{datosFactura['idVenta']}}">


    <div *ngIf="datosFactura['estadoPago'] === 'pendiente'"  class="col d-flex justify-content-end my-5">
      <button class="btn btn-primary botonNuevaCita"  data-bs-toggle="modal" data-bs-target="#pagarModal" type="button">Pagar</button>
  </div>
  </form>

</div>


<div class="modal  fade" id="pagarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header border-0">
              <div class="w-100 row mx-1 border-bottom pt-2 pb-3">
                  <div class="col-auto d-flex align-items-center">
                      <h5 class="modal-title tituloModal" id="exampleModalLabel">Realiza el Pago</h5>
                  </div>
                  <div class="col-auto ms-auto d-flex align-items-center"><button type="button" class="ms-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
              </div>
          </div>
          <div class="modal-body mt-2 mb-3">
              <form class="form-cli row" method="post" >
                  <div class="col px-2">
                        <div *ngIf="datosFactura['metodoPago'] == 'transferencia'">
                          <label class="col-form-label">IBAN:</label>
                          <input class="form-control" type="text" [(ngModel)]="iban" pattern="^[A-Z]{2}\d{2}[A-Z0-9]{1,30}$" title="Por favor, introduce un IBAN válido.">


                        </div>

                        <div *ngIf="datosFactura['metodoPago'] == 'tarjeta'">
                          <label class="col-form-label">Tarjeta de Crédito</label>
                          <input class="form-control" type="text" [(ngModel)]="tarjeta" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|3[47][0-9]{13}|6(?:011|5[0-9]{2})[0-9]{12}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35[0-9]{3})[0-9]{11})$" title="Por favor, introduce un número de tarjeta de crédito válido.">

                          <label class="col-form-label">Fecha de Caducidad (MM/YY)</label>
                          <input class="form-control" type="text" [(ngModel)]="caducidad" pattern="^(0[1-9]|1[0-2])\/([0-9]{2})$" title="Por favor, introduce una fecha de caducidad válida." placeholder="MM/YY">

                          <label class="col-form-label">Código de Seguridad (CVC)</label>
                          <input class="form-control" type="text" [(ngModel)]="cvc" pattern="^[0-9]{3,4}$" title="Por favor, introduce un CVC válido.">
                        </div>

                      <input type="hidden" name="fecha" value="{{datosFactura['fecha']}}">
                      <input type="hidden" name="estadoPago" value="pagado">
                      <input type="hidden" name="idPedido" value="{{datosFactura['idPedido']}}">

                      <div class="row my-2">
                          <div class="col d-flex justify-content-center">
                              <button *ngIf="datosFactura['metodoPago'] == 'transferencia'" class="btn btn-primary botonNuevaCita me-4" (click)="comprobarIban()" type="submit">Pagar</button>
                              <button *ngIf="datosFactura['metodoPago'] == 'tarjeta'" class="btn btn-primary botonNuevaCita me-4" (click)="comprobarTarjeta()" type="submit">Pagar</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
